.tab {
  position: absolute;
  top: 9%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #35ff46;
  color: white;
  padding: 1.2rem 1.2rem 0 1.2rem;
  border-radius: 1.2rem;
  transition: top 0.5s;
  z-index: 1000;
}

.successMsg {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}
